.board-write {
  margin: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;

  .board-write__title {
    margin-bottom: 10px;
  }

  .board-write__content {
    width: 100%;
    min-height: 300px;
    resize: none;
    overflow: auto;
    padding: 15px 10px;
    margin-top: 10px;
    border: 1px solid #1e2533;
    border-radius: 6px;
  }

  .board-write__image-label {
    font-size: 16px;
    font-weight: 600;
  }

  .board-write__image {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 3px;
    }

    .board-write__image-description {
      margin: 0;
      font-size: 13px;
      color: #767676;
    }
  }
}

.not-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  gap: 10px;
  border-radius: 6px;
  background: #ededed;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);

  &__icon {
    width: 24px;
    height: 24px;
  }
}

.board-write__image-preview {
  width: 70px;
  height: 70px;
  position: relative;

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
  }

  button {
    position: absolute;
    top: 4px;
    right: 4px;
    color: black;
    font-size: 10px;
    cursor: pointer;
  }
}
