.inputContainer {
  position: relative;
  margin: 20px;

  input {
    width: 100%;
    padding-right: 30px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #97bbff;
    border-radius: 4px;
    height: 42px;
    &:focus {
      outline: none;
      border: 1px solid #97bbff;
    }
  }

  .searchIcon {
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.menuContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
  row-gap: 12px;
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.3);

  .menuItem {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    img {
      width: 24px;
      height: 24px;
      margin-bottom: 5px;
    }

    span {
      font-size: 12px;
      font-weight: 500;
      color: #97bbff;
    }
  }
}
