.container {
}

.content {
} 

.searchBarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.backButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: -11px;
    margin-left: 20px;
}

.title{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #000;
    text-align: left;
}

.popularKeywords{   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px 20px;

    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            font-size: 1rem;
            font-weight: 400;
            color: #000;
        }
    }
}

.searchResults{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px 20px;
}

.error{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}

.noResults{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}

.danjiName{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}

.danjiAddress{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}