/* DeleteAccountPassword.scss */

.delete-account-password {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.delete-account-password__center {
  text-align: center;
}

.delete-account-password__header {
  padding: 40px 0;
}

.delete-account-password__title {
  font-weight: 600;
  font-size: 16px;
}

.delete-account-password__subtitle {
  margin-top: 5px;
}

.delete-account-password__input {
  font-size: 14px;
}

.delete-account-password__button {
  margin-top: 20px;
}

.delete-account-password__button--disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
