.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.reset-password-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.reset-password-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 160px);
  height: 100%;
}
@media (max-width: 1024px) {
  .reset-password-container {
    min-height: calc(100vh - 60px);
  }
}
.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  position: relative;
  height: 100%;
}
.button-container {
  margin-top: auto;
  padding-top: 20px;
}
.submit-button {
  width: 100%;
  height: 52px;
  background-color: #eaf1ff;
  border-radius: 8px;
  border: 1px solid #eaf1ff;
  font-size: 16px;
  font-weight: 600;
  color: silver;
  cursor: pointer;
}
.button-filled {
  background-color: #1f54c8;
  color: #fff;
  border: 1px solid #1f54c8;
}
.button-empty {
  background-color: #eaf1ff;
  color: silver;
}
