.withdrawal {
  position: relative;
  padding: 20px 20px 60px 20px;
  height: 100%;
}

.withdrawal__content {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
}

.withdrawal__warning {
  padding: 40px 0 40px;
  text-align: center;

  + .withdrawal__input-field {
    margin-top: 20px;
  }
}

.withdrawal__warning-title {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 4px;
  font-weight: 600;
}

.withdrawal__warning-text {
  font-size: 15px;
  line-height: 22px;
  color: #505050;
}

.withdrawal__warning-text--danger {
  color: #D91C1C;
  font-weight: 600;
}

.withdrawal__warning-item {
  background-color: #F9FBFF;
  border-radius: 6px;
  padding: 12px;

  & + & {
    margin-top: 20px;
    padding-top: 20px;
  }

  h2 {
    color: #111;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

.withdrawal__warning-item-text {
  font-size: 14px;
  line-height: 20px;
  color: #111;
}

.withdrawal__submit-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #D1E0FF;
  color: #8F8F8F;

  &:disabled {
    cursor: not-allowed;
    opacity: 1;
    background-color: #EAF1FF;
    color: #C0C0C0;
  }

  &[aria-busy="true"] {
    cursor: wait;
  }
}

.withdrawal__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.withdrawal__main-content {
  flex: 1;
  padding: 20px;
  padding-bottom: calc(20px + 46px + 32px); /* 기본 패딩 + 버튼 높이 + 버튼 컨테이너 패딩 */
}

.withdrawal__button-wrapper {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px;
  background-color: #fff;
  z-index: 10;
}

.withdrawal__confirm-button {
  width: 100%;
  padding: 14px 12px;
  background-color: #D91C1C;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
  &:hover:not(:disabled) {
    background-color: #c31616;
  }

  &:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
  }
}

.withdrawal__form {
  width: 100%;
}

.withdrawal__input-wrapper {
  margin-top: 20px;
}

.withdrawal__input-wrapper--focused {
  outline: 2px solid #D1E0FF;
}